<div class= "container">
  <div class= "row">
    <div class= "col-sm-12 text-center">
      a href="https://unsplash.it/200/300?image=655">
      <h1> Listing cocktails </h1>
        <br>
        <%= link_to 'Ingredients', ingredients_path %>
        <br>
        <%= link_to 'New Cocktail', new_cocktail_path %> 
        <br>
        <br>
        <%@cocktails.each do |cocktail| %>
        <li><%= cocktail.name %></li>
        <br>
        <li><%= link_to 'Show', cocktail %></li>
        <li><%= link_to 'Destroy', cocktail_path(cocktail), method: :delete %><li>
        <br>
      <% end %>
      <%= link_to 'Index', ingredients_path %>
    </div>
  </div>
</div>
 <img id="banner" src="https://unsplash.it/1200/600?image=695" alt="Banner Image"/>