<h1> Listing cocktails </h1>

 <%= render 'form', cocktail: @cocktail %>

<ul>
  <%= @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %> </li>
    <li><%= link_to 'Show', cocktail %> </li>
    <li><%= link_to 'Edit', [:edit, cocktail] %> </li>
    <li><%= cocktail.name %> </li>
    <% end %>
    </ul>